<template>
  <nuxt-link v-if="isThisApp" :to="url" :class="'button--' + color">
    {{ linkText }}
  </nuxt-link>
  <a v-else :href="url" :class="'button--' + color">
    {{ linkText }}
  </a>
</template>

<script>
  export default {
    props: ['url', 'linkText', 'color', 'isThisApp']
  }
</script>

<style lang="scss">
  $green: #3b8070;
  $grey: #35495e;
  $white: #fff;

  @mixin button($color) {
    border-radius: 4px;
    border: 1px solid $color;
    color: $color;
    text-decoration: none;
    padding: 10px 30px;
  }

  @mixin buttonHover($color, $bg_color) {
    color: $color;
    background-color: $bg_color;
  }

  .button--green {
    @include button($green);
  }

  .button--green:hover {
    @include buttonHover($white, $green);
  }

  .button--grey {
    @include button($grey)
  }

  .button--grey:hover {
    @include buttonHover($white, $grey);
  }
</style>
