<template>
  <h1 class="title">
    {{ title }}
  </h1>
</template>

<script>
  export default {
    props: ['title']
  }
</script>

<style lang="scss" scoped>
  .title {
    font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; /* 1 */
    display: block;
    font-weight: 300;
    font-size: 100px;
    color: #35495e;
    letter-spacing: 1px;
  }
</style>
