<template>
  <h2 class="subtitle">
    {{ subtitle }}
  </h2>
</template>

<script>
  export default {
    props: ['subtitle']
  }
</script>

<style lang="scss">
  .subtitle {
    font-weight: 300;
    font-size: 42px;
    color: #526488;
    word-spacing: 5px;
    padding-bottom: 15px;
  }
</style>
