<template>
  <div>
    <footer>
      <hr>
      <div class="footer-contents">
        <header class="footer-header">
          <img src="/footer-corporate.png"/>
          <h2>こどもから大人まで楽しめる<br>
            xxxx公式ショッピングサイト!!</h2>
          <div class="back-top">
            <a href="#" class="arrow-right">トップに戻る</a>
          </div>
          <p>&copy;会社名が入ります</p>
        </header>
        <ul class="footer-nav">
          <li>
            <h3 class="footer-nav-title">会社情報</h3>
            <ul class="footer-nav-list">
              <li>会社概要</li>
              <li>ウェブサイトご利用条件</li>
              <li>個人情報保護方針</li>
              <li>特定商取引法の表示</li>
              <li>著作権</li>
              <li>採用情報</li>
            </ul>
          </li>
          <li>
            <h3 class="footer-nav-title">会員サービス</h3>
            <ul class="footer-nav-list">
              <li>メルマガ会員登録</li>
              <li>会員規約</li>
            </ul>
          </li>
          <li>
            <h3 class="footer-nav-title">ガイド</h3>
            <ul class="footer-nav-list">
              <li>よくあるご質問/ご利用</li>
              <li>ガイド</li>
              <li>安全ガイド</li>
              <li>営業日カレンダーについて</li>
              <li>お問い合わせ</li>
              <li>サイトマップ</li>
            </ul>
          </li>
        </ul>
      </div>
    </footer>
  </div>
</template>

<style scoped>
  hr {
    margin: 0 -25% 30px;
    padding: 0 25%;
  }

  .footer-contents {
    display: flex;
    justify-content: space-between;
  }

  .footer-header {
    flex-shrink: 0;
    margin-right: 119px;
  }

  .footer-header img {
    margin-bottom: 9px;
  }

  .footer-header h2 {
    text-align: center;
    color: #979797;
    font-size: 13px;
    margin-bottom: 14px;
  }

  .back-top {
    position: relative;
    padding-left: 14px;
    margin-bottom: 11px;
  }

  .back-top a {
    color: #333;
    font-weight: bold;
  }

  .arrow-right:before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto 0;
    width: 9px;
    height: 9px;
    border-top: 3px solid #979797;
    border-right: 3px solid #979797;
    transform: rotate(45deg);
  }

  .footer-nav {
    width: 100%;
  }

  .footer-nav > li {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    padding: 0 100px 0 41px;
    border-right: 1px solid #e4e4e4;
  }

  .footer-nav > li:first-child {
    padding-left: 0;
  }

  .footer-nav > li:last-child {
    padding-right: 0;
    border-right: none;
  }

  .footer-nav-title {
    margin-bottom: 10px;
    color: #cc9c16;
    font-weight: bold;
    font-size: 13px;
  }

  .footer-nav-list li {
    line-height: 1.8;
  }
</style>
