<template>
  <header id="header">
    <div class="banner"><img src="/top-banner.png"/></div>
    <h1 class="title">こどもから大人まで楽しめるxxxx公式ショッピングサイト!!</h1>
    <uiux-nav/>
    <information/>
  </header>
</template>

<script>
  import UiuxNav from '~/components/uiux/Nav.vue'
  import Information from '~/components/uiux/Information.vue'

  export default {
    components: {
      UiuxNav,
      Information
    }
  }
</script>

<style lang="scss" scoped>
  #header {
    position: relative;
  }

  .banner {
    display: block;
    line-height: 0;
  }

  .title {
    margin:0 -25% 9px;
    padding: 0 25%;
    height: 20px;
    text-align: center;
    background-color: #ddd;
    color: #4d496c;
    font-weight: bold;
  }
</style>
