<template>
  <ul class="information-list">
    <li v-for="information in informationList" class="information"><a :href="information.url">{{ information.text }}</a></li>
  </ul>
</template>

<script>
  const data = {
    informationList: [
      {
        url: '#',
        text: '配送に関するご連絡'
      },
      {
        url: '#',
        text: '携帯電話での接続に関するご連絡'
      }
    ]
  }

  export default {
    data: () => {
      return data
    }
  }
</script>

<style>
  .information-list {
    margin: 0 -25% 10px;
    padding: 0 25%;
    text-align: center;
    background-color: #f4efd9;
    border: 1px solid #c0bcbd;
  }

  .information {
    display: inline-block;
    padding-right: 11px;
  }

  .information:before {
    content: '■';
    padding-right: 2px;
  }
</style>
