<template>
  <div>
    <h3 class="item-title">{{ title }}</h3><img class="item-img" :src="img"/><div class="item-name">{{ name }}</div>
  </div>
</template>

<script>
  export default {
    props: ['title', 'img', 'name']
  }
</script>

<style scoped>
  .item-title {
    margin-bottom: 2px;
    border-radius: 5px;
    text-align: center;
    background-color: #ff4248;
    color: #fff;
  }

  .item-img {
    border: 1px solid #d9deda;
    font-size: 0;
  }

  .item-name {
    line-height: 1;
    color: #000;
    font-size: 11px;
  }

  .other-new-items {
    text-align: right;
    padding: 0 10px 10px;
  }
</style>
