<template>
  <div class="main-contents">
    <p>{{ boxPosition }}</p>
    <div class="slider">
      <div class="inner-slider" :style="{left: boxPosition + 'px', width: innerSliderWidth + 'px'}">
        <ul v-for="box in contentsBox" class="main-contents-box">
          <li class="box-left"><a href="#"><img :src="box.boxLeft"/></a></li>
          <li>
            <ul class="box-rights">
              <li v-for="boxRight in box.boxRights">
                <a href="#">
                  <img class="box-right" :src="boxRight"/>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <slide-button direction="prev" v-on:movePrev="prev"/>
    <slide-button direction="next" v-on:moveNext="next"/>
  </div>
</template>


<script>
  import SlideButton from '~/components/uiux/SlideButton.vue'

  const boxWidth = 890
  const minBoxCount = 1
  const data = {
    contentsBox: [
      {
        boxLeft: 'main-left.png',
        boxRights: [
          'main-right.png',
          'main-right.png',
          'main-right.png',
          'main-right.png'
        ]
      },
      {
        boxLeft: 'main-left.png',
        boxRights: [
          'main-right.png',
          'main-right.png',
          'main-right.png',
          'main-right.png'
        ]
      },
      {
        boxLeft: 'main-left.png',
        boxRights: [
          'main-right.png',
          'main-right.png',
          'main-right.png',
          'main-right.png'
        ]
      }
    ]
  }

  data.boxCount = 1
  data.boxPosition = 0
  data.innerSliderWidth = boxWidth * data.contentsBox.length

  export default {
    components: {
      SlideButton
    },
    data: () => {
      return data
    },
    watch: {
      boxCount: function (count) {
        this.slideBox(count)
      }
    },
    methods: {
      prev: function () {
        if (this.boxCount === minBoxCount) {
          this.boxCount = this.contentsBox.length
          return null
        }
        this.boxCount--
      },
      next: function () {
        if (this.boxCount >= this.contentsBox.length) {
          this.boxCount = minBoxCount
          return null
        }
        this.boxCount++
      },
      slideBox: function (count) {
        this.boxPosition = -boxWidth * (count - 1)
        console.log(count)
      }
    }
  }
</script>

<style scoped>
  .main-contents {
    position: relative;
    width: 980px;
    padding: 0 45px;
    height: 250px;
    margin-bottom: 20px;
    font-size: 0;
  }

  .slider {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .inner-slider {
    position: absolute;
    display: flex;
    transition: all 300ms 0s ease;
  }

  .main-contents-box {
    display: flex;
    width: 890px;
  }

  .box-left {
    line-height: 0;
    flex-shrink: 0;
    margin-right: 15px;
  }

  .box-rights {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .box-right {
    flex-shrink: 0;
    margin: 3px 0 2px 4px;
  }
</style>
