<template>
  <nav>
    <div class="top-nav">
      <div class="site-logo"><img src="/site-logo.png"/></div>
      <div class="guide"><a href="#">初めての方へご利用ガイド</a></div>
      <ul class="site-nav-list"><li v-for="siteNav in siteNavList" class="site-nav"><a :href="siteNav.url">{{ siteNav.text }}</a></li></ul>
      <div class="user"><p>こんにちはゲストさん！</p></div>
      <ul class="user-nav-list"><li v-for="userNav in userNavList" :class="'user-nav ' + userNav.className"><a :href="userNav.url">{{ userNav.text }}</a></li></ul>
    </div>
    <div class="bottom-nav">
      <ul class="contents-nav-list"><li v-for="contentsNav in contentsNavList" class="contents-nav"><a :href="contentsNav.url">{{ contentsNav.text }}</a></li></ul>
      <form action="#" method="get" class="search"><input class="search-box" type="text"><input type="submit" value="検索"></form>
    </div>
  </nav>
</template>

<script>
  const data = {
    siteNavList: [
      {
        url: '#',
        text: 'よくあるご質問'
      },
      {
        url: '#',
        text: '閲覧履歴'
      },
      {
        url: '#',
        text: '公式アプリ'
      }
    ],
    userNavList: [
      {
        url: '#',
        text: 'ログイン',
        className: 'login'
      },
      {
        url: '#',
        text: '会員登録',
        className: 'sign-up'
      },
      {
        url: '#',
        text: 'カート',
        className: 'cart'
      }
    ],
    contentsNavList: [
      {
        url: '#',
        text: 'キャラクターから探す'
      },
      {
        url: '#',
        text: 'ショップから探す'
      },
      {
        url: '#',
        text: '商品ジャンルから探す'
      },
      {
        url: '#',
        text: '特集から探す'
      },
      {
        url: '#',
        text: 'ポイントを貯める'
      }
    ]
  }

  export default {
    data: () => {
      return data
    }
  }
</script>

<style scoped>
  .top-nav {
    display: flex;
    margin-bottom: 9px;
  }

  .site-logo {
    line-height: 0;
    margin-right: 15px;
  }

  .guide {
    max-width: 72px;
    margin-right: 11px;
  }

  .site-nav-list {
    align-self: center;
  }

  .site-nav {
    display: inline-block;
    padding:0 11px 0 9px;
    border-left: 1px solid #a9a9a9;
  }

  .user {
    border-left: 1px dotted #a9a9a9;
    padding-left: 12px;
  }

  .user p {
    display: table-cell;
    height: 35px;
    vertical-align: middle;
    font-weight: bold;
  }

  .user-nav-list {
    position: absolute;
    top: 70px;
    right: 20px;
    line-height: 1;
  }

  .user-nav {
    display: inline-block;
    width: 63px;
    border: 1px solid #a9a9a9;
    border-top: none;
    border-radius: 2px;
    text-align: center;
    padding: 49px 0 11px;
  }

  .login {
    background-color: #c9ff90;
  }

  .sign-up {
    background-color: #fff890;
  }

  .cart {
    background-color: #ffe591;
  }

  .bottom-nav {
    display: flex;
    justify-content: space-between;
  }

  .contents-nav-list {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
  }

  .contents-nav {
    display: inline-block;
    padding-left: 10px;
  }

  .contents-nav:first-child {
    padding-left: 0;
  }

  .contents-nav:before {
    content: '■';
    padding-right: 6px;
  }

  .search-box {
    margin-right: 3px;
  }
</style>
