<template>
  <div>
    <div class="new-items">
      <div class="slider">
        <div class="inner-slider" :style="{left: boxPosition + 'px', width: innerSliderWidth + 'px'}">
          <ul v-for="box in itemsBox" class="new-items-box">
            <li v-for="item in box.items" class="new-item">
              <a :href="item.url">
                <item :title="item.title" :img="item.img" :name="item.name"/>
              </a>
            </li>
          </ul>
        </div>
      </div>
    <slide-button direction="prev" v-on:movePrev="prev"/>
    <slide-button direction="next" v-on:moveNext="next"/>
    </div>
    <div class="other-new-items">
      <a class="other-new-items-btn"><span class="other-new-items-text">その他の新着商品一覧</span><span class="arrow-right"/></a>
    </div>
  </div>
</template>

<script>
  import SlideButton from '~/components/uiux/SlideButton.vue'
  import Item from '~/components/uiux/Item.vue'

  const boxWidth = 920
  const minBoxCount = 1
  const item = {
    title: '5月28日発売 受注開始',
    img: '/item.png',
    name: '商品名が入ります',
    url: '#'
  }

  let items = []

  for (let i = 0; i < 10; i++) {
    items.push(item)
  }
  const data = {
    itemsBox: [
      {items: items},
      {items: items}
    ]
  }

  data.boxCount = 1
  data.boxPosition = 0
  data.innerSliderWidth = boxWidth * data.itemsBox.length

  export default {
    components: {
      SlideButton,
      Item
    },
    data: () => {
      return data
    },
    watch: {
      boxCount: function (count) {
        this.slideBox(count)
      }
    },
    methods: {
      prev: function () {
        if (this.boxCount === minBoxCount) {
          this.boxCount = this.itemsBox.length
          return null
        }
        this.boxCount--
      },
      next: function () {
        if (this.boxCount >= this.itemsBox.length) {
          this.boxCount = minBoxCount
          return null
        }
        this.boxCount++
      },
      slideBox: function (count) {
        this.boxPosition = -boxWidth * (count - 1)
        console.log(count)
      }
    }
  }
</script>

<style scoped>
  .new-items {
    position: relative;
    width: 980px;
    height: 413px;
    padding: 3px 30px;
    margin-bottom: 7px;
  }

  .slider {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .inner-slider {
    position: absolute;
    display: flex;
    transition: all 300ms 0s ease;
  }

  .new-items-box {
    display: flex;
    flex-wrap: wrap;
    width: 920px;
  }

  .new-item {
    display: block;
    background-color: #fff;
    padding: 4px 12px 8px;
    margin: 0 10px 5px 0;
    text-decoration: none;
  }

  .new-item:nth-child(5n) {
    margin-right: 0;
  }

  .new-item:nth-child(n + 6) {
    margin-bottom: 0;
  }

  .other-new-items {
    text-align: right;
    padding: 0 10px 10px;
  }

  .other-new-items-btn {
    text-align: right;
    border: 2px solid #ff4246;
    color: #ff4246;
    border-radius: 5px;
    padding: 0 5px;
    font-weight: bold;
    font-size: 14px;
  }

  .other-new-items-text {
    display: inline-block;
    padding-right: 5px;
  }

  .other-new-items-btn .arrow-right {
    display: inline-block;
    width: 9px;
    height: 9px;
    border-top: 3px solid #ff4246;
    border-right: 3px solid #ff4246;
    transform: rotate(45deg);
  }
</style>
