<template>
  <ul class="news-list">
    <li class="news-item" v-for="item in news"><time>{{ item.date }}</time><a :href="item.url"><span>{{ item.title }}</span></a></li>
  </ul>
</template>
<script>
  const item = {
    url: '#',
    date: '2017年5月28日',
    title: 'テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト'
  }

  let items = []

  for (let i = 0; i < 3; i++) {
    items.push(item)
  }

  const data = {
    news: items
  }

  export default {
    data: () => {
      return data
    }
  }
</script>

<style scoped>
  .news-list {
    background-color: #fff;
  }

  .news-item {
    display: flex;
    border-bottom: 1px solid #e4e4e4;
    padding: 8px 23px;
  }

  .news-item:last-child {
    border-bottom: none;
  }

  .news-item time {
    min-width: 103px;
  }

  .news-item span {
    position: relative;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    padding: 0 10px;
    border-left: 1px solid #e4e4e4;
  }

  .news-item span:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 0;
    border-bottom: 9px solid #dbdbdb;
    border-left: 9px solid transparent;
  }
</style>