<template>
  <ul class="recommend-items-box">
    <li v-for="item in items" class="recommend-item">
      <a :href="item.url">
        <item :title="item.title" :img="item.img" :name="item.name"/>
      </a>
    </li>
  </ul>
</template>

<script>
  import Item from '~/components/uiux/Item.vue'

  const item = {
    title: '5月28日発売 受注開始',
    img: '/item.png',
    name: '商品名が入ります',
    url: '#'
  }

  let items = []

  for (let i = 0; i < 5; i++) {
    items.push(item)
  }
  const data = {items: items}

  export default {
    components: {
      Item
    },
    data: () => {
      return data
    }
  }
</script>

<style scoped>
  .recommend-items-box {
    display: flex;
    flex-wrap: wrap;
    padding: 3px 7px 7px;
  }

  .recommend-item {
    display: block;
    background-color: #fff;
    padding: 4px 16px 8px 17px;
    margin-right: 9px;
    text-decoration: none;
  }

  .recommend-item:nth-child(5n) {
    margin-right: 0;
  }
</style>
