<template>
  <ul class="shops">
    <li class="shop">
      <h3>カテゴリが入ります</h3>
      <ul>
        <li><a href="#">サブカテゴリーが入ります</a></li>
        <li><a href="#">サブカテゴリーが入ります</a></li>
      </ul>
    </li>
    <li class="shop">
      <h3>カテゴリが入ります</h3>
      <ul>
        <li><a href="#">サブカテゴリーが入ります</a></li>
        <li><a href="#">サブカテゴリーが入ります</a></li>
      </ul>
    </li>
    <li class="shop">
      <h3>カテゴリが入ります</h3>
      <ul>
        <li><a href="#">サブカテゴリーが入ります</a></li>
        <li><a href="#">サブカテゴリーが入ります</a></li>
      </ul>
    </li>
  </ul>
</template>

<script>

</script>

<style scoped>
  .shops {
    display: flex;
    justify-content: space-around;
    padding: 3px;
    background-color: #fff;
  }

  .shop {
    font-size: 11px;
  }
</style>
