<template>
  <div v-on:click="move" :class="direction"><span v-if="direction === 'prev'" class="arrow-left"/><span
      v-else-if="direction === 'next'" class="arrow-right"/></div>
</template>

<script>
  export default {
    props: ['direction'],
    methods: {
      move: function () {
        switch (this.direction) {
          case 'prev':
            this.$emit('movePrev')
            break
          case 'next':
            this.$emit('moveNext')
        }
      }
    }
  }
</script>

<style scoped>
  .prev {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 30px;
    font-size: 0;
    cursor: pointer;
  }

  .next {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 30px;
    font-size: 0;
    cursor: pointer;
  }

  .arrow-left {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 10px;
    margin: auto 0;
    width: 16px;
    height: 16px;
    border-top: 6px solid #7a0;
    border-right: 6px solid #7a0;
    transform: rotate(225deg);
  }

  .arrow-right {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    right: 10px;
    margin: auto 0;
    width: 16px;
    height: 16px;
    border-top: 6px solid #7a0;
    border-right: 6px solid #7a0;
    transform: rotate(45deg);
  }
</style>
