<template>
  <div>
    <nuxt/>
    <uiux-footer/>
  </div>
</template>

<script>
  import UiuxFooter from '~/components/uiux/Footer.vue'

  export default {
    components: {
      UiuxFooter
    }
  }
</script>

<style>
  html {
    width: 980px;
    overflow-x: hidden;
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 12px;
    line-height: 1.6;
    margin: auto;
  }

  *, *:before, *:after {
    margin: 0;
  }

  a {
    text-decoration: none;
    color: #0d76d1;
  }
</style>
