<template>
  <div>
    <div class="counter">
      <button @click="increment">{{ counter }}</button>
    </div>
    <link-button url="/" color="grey" link-text="index" is-this-app="true"/>
  </div>
</template>

<script>
  import { mapState } from 'vuex'
  import LinkButton from '~/components/LinkButton.vue'

  export default {
    components: {
      LinkButton
    },
    fetch ({ store }) {
      store.commit('increment')
    },
    computed: mapState([
      'counter'
    ]),
    methods: {
      increment () {
        this.$store.commit('increment')
      }
    }
  }
</script>

<style>
  .counter {
    display: block;
    margin-bottom: 30px;
  }
</style>
