<template>
  <div>
    <logo/>
    <page-title title="hello-nuxt"/>
    <subtitle subtitle="Nuxt.js project"/>
    <ul class="links">
      <li v-for="link in links" class="link">
        <LinkButton :key="link.id" :url="link.url" :color="link.btnColor" :link-text="link.linkText"
                    :is-this-app="link.isThisApp"/>
      </li>
    </ul>
  </div>
</template>

<script>
  import Logo from '~/components/Logo.vue'
  import PageTitle from '~/components/PageTitle.vue'
  import Subtitle from '~/components/Subtitle.vue'
  import LinkButton from '~/components/LinkButton.vue'

  export default {
    components: {
      Logo,
      PageTitle,
      Subtitle,
      LinkButton
    },
    asyncData ({isStatic, isServer}) {
      return {
        links: [
          {
            id: 1,
            url: 'https://nuxtjs.org/',
            btnColor: 'green',
            linkText: 'Documentation',
            isThisApp: false
          },
          {
            id: 2,
            url: 'https://github.com/nuxt/nuxt.js',
            btnColor: 'grey',
            linkText: 'GitHub',
            isThisApp: false
          },
          {
            id: 3,
            url: '/counter',
            btnColor: 'green',
            linkText: 'Counter',
            isThisApp: true
          },
          {
            id: 4,
            url: '/uiux',
            btnColor: 'green',
            linkText: 'UI/UX',
            isThisApp: true
          }
        ]
      }
    }
  }
</script>

<style>
  .links {
    padding-top: 15px;
  }
  .link {
    display: inline-block;
    margin-left: 15px;
  }
  .link:first-child {
    margin-left: 0;
  }
</style>
