<template>
  <div>
    <uiux-header/>
    <main class="main">
      <main-contents/>
      <div class="content-container">
        <h2 class="content-header">新着商品</h2>
        <new-items/>
      </div>
      <div class="content-container">
        <h2 class="content-header">あなたへのおすすめ商品</h2>
        <recommend-items/>
      </div>
      <div class="content-container">
        <h2 class="content-header">ショップ一覧</h2>
        <shops/>
      </div>
      <div class="content-container">
        <h2 class="content-header">ニュースリリース</h2>
        <news/>
      </div>
    </main>
  </div>
</template>

<script>
  import UiuxHeader from '~/components/uiux/Header.vue'
  import MainContents from '~/components/uiux/MainContents.vue'
  import NewItems from '~/components/uiux/NewItems.vue'
  import RecommendItems from '~/components/uiux/RecommendItems.vue'
  import Shops from '~/components/uiux/Shops.vue'
  import News from '~/components/uiux/News.vue'

  export default {
    layout: 'uiux',
    components: {
      UiuxHeader,
      MainContents,
      NewItems,
      RecommendItems,
      Shops,
      News
    }
  }
</script>

<style scoped>
  .main {
    padding-bottom: 20px;
  }

  .content-container {
    width: 980px;
    padding: 2px;
    margin-bottom: 30px;
    border-radius: 5px;
    background-color: #e4e4e4;
  }

  .content-header {
    margin-bottom: 4px;
    font-size: 16px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    background-color: #fff;
  }

  .content-header:before {
    content: '■';
    padding: 0 10px 0 15px;
  }
</style>
